/* Basic elem */

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(10px);
  }

  .content {
    bottom: 7%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    animation-name: contentMoveBasic;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .content h1 {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    padding-right: 15px;
  }

  .longTitle {
    width: 250px!important;
  }

  /* Button CSS */

  .buttonBar {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-right: 30px;
  }

  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }

  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  /* Content block (Design) */

  .contentBlock1 {
    bottom:0px;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 10px;
    right: 0px;
    position: absolute;
    animation-name: contentMove1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
  }

  .contentBlock2 {
    bottom:-25px;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 10%;
    padding: 20px;
    position: absolute;
    animation-name: contentMove2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
  }

  .contentBlock3 {
    bottom:-15px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 10px;
    padding: 20px;
    
    right: 0px;
    position: absolute;
    animation-name: contentMove3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
  }


  /* Animation (keyframes) */

  @keyframes contentMoveBasic {
    0% { transform: translateY(-200px)}
    50% {transform: translateY(50px)}
    100%{transform: translateY(0px);}
  }

  @keyframes contentMove1 {
    0% { transform: translateY(0)}
    65% {transform: translateY(-20px)}
    100%{transform: translateY(-110px);}
  }

  @keyframes contentMove2 {
    0% { transform: translate(0,0)}
    100%{transform: scale(20, 0.2);}
  }

  @keyframes contentMove3 {
    0% { transform: translateY(0)}
    50%{transform: translateY(-100px)}
    100%{transform: translateY(0px)}
  }
