/* Basic elem */

body {
    background-color: #1E6895;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

.container {
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
    padding-bottom: 10px;
    animation-name: contentMoveRight;
    animation-duration: 2s;
}

.heading {
    color: #1E6895;
    font-weight: bolder;
    padding-top: 20px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    animation-name: contentMoveRight;
    animation-duration: 3s;
}

/* Home button */

.popUp{
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 8;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.previousPage {
  background-color: #003d63;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 120px;   
  height: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.previousPage:hover{
  background-color: white;
  color: #003d63;
  border: #003d63 4px solid;
}

/* Outside button */

.playPopUp{
  justify-content: center;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 8;
  animation-name: contentMoveRight;
  animation-duration: 3s;
}

.play {
  background-color: #003d63;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 120px;   
  height: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.play:hover{
  background-color: white;
  color: #003d63;
  border: #003d63 4px solid;
}

.stopPopUp{
  justify-content: center;
  position: fixed;
  top: 120px;
  right: 10px;
  z-index: 8;
  animation-name: contentMoveRight;
  animation-duration: 3s;
}

.stop {
  background-color: #8b0000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 120px;   
  height: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.stop:hover{
  background-color: white;
  color: #8b0000;
  border: #8b0000 4px solid;
}

.refashPopUp{
  justify-content: center;
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 8;
  animation-name: contentMoveLeft;
  animation-duration: 3s;
}

.refash {
  background-color: #003d63;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 120px;   
  height: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.refash:hover{
  background-color: white;
  color: #003d63;
  border: #003d63 4px solid;
}

/* Slider */

.sliders {
  display: flex;
  justify-content: space-between;
}

.slidecontainer {
  width: 400px;
  margin-top: 10px;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 6px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #003d63;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #003d63;
  cursor: pointer;
}

.slidecontainer p {
    color: #003d63;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 150px;
    margin-left: 20px;
}

  /* Speed slider */

  .speedSlidecontainer {
    width: 1200px;
    margin-top: 10px;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
    animation-name: contentMoveRight;
    animation-duration: 3s;
}

.speedSlidecontainer .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 6px;
  }
  
  .speedSlidecontainer  .slider:hover {
    opacity: 1;
  }
  
  .speedSlidecontainer  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #8b0000;
    cursor: pointer;
  }
  
  .speedSlidecontainer .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #8b0000;
    cursor: pointer;
  }

  .speedSlidecontainer p {
      color: #630000;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      width: 150px;
      margin-left: 20px;
  }

/* Color CSS */

.redPopUp{
  justify-content: center;
  position: fixed;
  top: 130px;
  left: 30px;
  z-index: 8;
}

.red:hover{
  background-color: white;
  color: #8a1500;
  border: #8a1500 4px solid;
}

.red {
  background-color: #8a1500;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 100px;   
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.orangePopUp{
  justify-content: center;
  position: fixed;
  top: 210px;
  left: 30px;
  z-index: 8;
}

.orange:hover{
  background-color: white;
  color: #d36423;
  border: #d36423 4px solid;
}

.orange {
  background-color: #d36423;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 100px;   
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.yellowPopUp{
  justify-content: center;
  position: fixed;
  top: 290px;
  left: 30px;
  z-index: 8;
}

.yellow:hover{
  background-color: white;
  color: #f8d300;
  border: #f8d300 4px solid;
}

.yellow {
  background-color: #f8d300;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 100px;   
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.greenPopUp{
  justify-content: center;
  position: fixed;
  top: 370px;
  left: 30px;
  z-index: 8;
}

.green:hover{
  background-color: white;
  color: #00d40b;
  border: #00d40b 4px solid;
}

.green {
  background-color: #00d40b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 100px;   
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.aquePopUp{
  justify-content: center;
  position: fixed;
  top: 450px;
  left: 30px;
  z-index: 8;
}

.aque:hover{
  background-color: white;
  color: #0be3ff;
  border: #0be3ff 4px solid;
}

.aque {
  background-color: #0be3ff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 100px;   
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.bluePopUp{
  justify-content: center;
  position: fixed;
  top: 530px;
  left: 30px;
  z-index: 8;
}

.blue:hover{
  background-color: white;
  color: #003d63;
  border: #003d63 4px solid;
}

.blue {
  background-color: #003d63;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 100px;   
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.purplePopUp{
  justify-content: center;
  position: fixed;
  top: 610px;
  left: 30px;
  z-index: 8;
}

.purple:hover{
  background-color: white;
  color: #d400db;
  border: #d400db 4px solid;
}

.purple {
  background-color: #d400db;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 100px;   
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

/* Animation (keyframes) */

@keyframes contentMoveLeft {
  0% { transform: translateX(1500px)}
  50% {transform: translateX(-100px)}
  100%{transform: translateX(0px);}
}

@keyframes contentMoveRight {
  0% { transform: translateX(-1500px)}
  50% {transform: translateX(100px)}
  100%{transform: translateX(0px);}
}


