/* Basic elem */

body {
    background-color: #663d16;    
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
    background-color: white;
    margin-top: 10px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 20px;
    animation-name: contentMoveTop;
      animation-duration: 2s;
}

.heading {
    color: white;
    font-weight: bolder;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #663d16;
    border-radius: 10px;
    animation-name: contentMoveTop;
    animation-duration: 2s;
}

/* Home button */

.popUp{
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 8;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.previousPage:hover{
  background-color: white;
  color: rgb(173, 145, 92);
  border: rgb(173, 145, 92) 4px solid;
}

.previousPage {
  background-color: rgb(173, 145, 92);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 120px;   
  height: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* Button CSS */

.buttonBar {
    display: flex;
    justify-content: flex-start;
}

.restartButton {
    background-color: #663d16;
    color: white;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 100px;
    height: 40px;
    animation-name: contentMoveDown;
    animation-duration: 2s;
}

.restartButton:hover {
    background-color: white;
    color: #663d16;
    box-shadow: 5px 5px 2px 1px  #580000;
}

.stop {
    background-color: rgb(173, 145, 92);
    color: white;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 100px;
    height: 40px;
    animation-name: contentMoveDown;
    animation-duration: 2s;
}

.stop:hover {
    background-color: white;
    color: rgb(173, 145, 92);
    box-shadow: 5px 5px 2px 1px  #663d16;
}

.play {
    background-color: rgb(173, 145, 92);
    color: white;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 100px;
    height: 40px;
    animation-name: contentMoveDown;
    animation-duration: 2s;
}

.play:hover {
    background-color: white;
    color: rgb(182, 139, 0);
    box-shadow: 5px 5px 2px 1px  #663d16;
}

/* Other buttons */

.button1 {
  background-color: rgb(255,196,0);
  color: white;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 80px;
  height: 40px;
  animation-name: contentMoveDown;
  animation-duration: 2s;
}

.button1:hover {
  background-color: white;
  color: rgb(182, 139, 0);
  box-shadow: 5px 5px 2px 1px  #663d16;
}

.button2 {
  background-color: rgb(173, 145, 92);
  color: white;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 80px;
  height: 40px;
  animation-name: contentMoveDown;
  animation-duration: 2s;
}

.button2:hover {
  background-color: white;
  color: rgb(173, 145, 92);
  box-shadow: 5px 5px 2px 1px  #663d16;
}

.spaceship {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8d2800;
}

.spaceship:hover {
color: #8d2800;
}

/* slider */

.sliders {
    display: flex;
    justify-content: space-between;
}

.slidecontainer {
    width: 400px;
    margin-top: 10px;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
    animation-name: contentMoveDown;
    animation-duration: 2s;
}
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 6px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #663d16;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #663d16;
    cursor: pointer;
  }

  .slidecontainer p {
      color: #663d16;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      width: 150px;
      margin-left: 20px;
  }

  /* Speed slider */

  .speedSlidecontainer {
    width: 870px;
    margin-top: 10px;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
    animation-name: contentMoveDown;
    animation-duration: 2s;
}

.speedSlidecontainer .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 6px;
  }
  
  .speedSlidecontainer  .slider:hover {
    opacity: 1;
  }
  
  .speedSlidecontainer  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #663d16;
    cursor: pointer;
  }
  
  .speedSlidecontainer .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #663d16;
    cursor: pointer;
  }

  .speedSlidecontainer p {
      color: #630000;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      width: 150px;
      margin-left: 20px;
  }

/* Animation (keyframes) */

  @keyframes contentMoveTop {
  0% { transform: translateY(-1500px)}
  50% {transform: translateY(100px)}
  100%{transform: translateY(0px);}
  }

  @keyframes contentMoveDown {
  0% { transform: translateY(-1500px)}
  50% {transform: translateY(100px)}
  100%{transform: translateY(0px);}
  }

  @keyframes contentMoveLeft {
  0% { transform: translateX(1500px)}
  50% {transform: translateX(-100px)}
  100%{transform: translateX(0px);}
  }
  
  @keyframes contentMoveRight {
  0% { transform: translateX(-1500px)}
  50% {transform: translateX(100px)}
  100%{transform: translateX(0px);}
  }
  

    
  