/* Basic elem */

body {
    background-color: #00143a;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    background-color: white;
    margin-top: 0px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 20px;
    animation-name: contentMoveDown;
    animation-duration: 2s;
}

.heading {
    color: white;
    font-weight: bolder;
    padding-top: 5px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #001c50;
    border-radius: 10px;
    animation-name: contentMoveDown;
    animation-duration: 2s;
}

.canvasSetting{
  margin-top: 0px;
}

/* Home button */

.popUp{
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 8;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.previousPage:hover{
  background-color: white;
  color: #00143a;
  border: #00143a 4px solid;
}

.previousPage {
  background-color: #00143a;
  border: #ffffff 4px solid;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 120px;   
  height: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* Outside buttons */

/* Play button */

.keepOn{
  justify-content: center;
  position: fixed;
  top: 150px;
  right: 20px;
  z-index: 8;
}

.play {
  background-color: #00143a;
  border: #ffffff 4px solid;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 120px;   
  height: 100px;  
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.play:hover{
  background-color: white;
  color: #00143a;
  border: #00143a 4px solid;
}

/* Stop button */

.takePhoto{
  justify-content: center;
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 8;
}

.stop {
  background-color: #00143a;
  border: #ffffff 4px solid;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  text-align: center;
  font-weight: bolder;
  border-radius: 40px;
  margin: 10px;
  width: 120px;   
  height: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: contentMoveLeft;
  animation-duration: 2s;
}

.stop:hover{
  background-color: white;
  color: #00143a;
  border: #00143a 4px solid;
}

/* Restart button */

.restartButton {
  background-color: #00143a;
  border: #ffffff 4px solid;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  font-weight: bolder;
  border-radius: 40px;
  width: 120px;   
  height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  animation-name: contentMoveRight;
  animation-duration: 2s;
}

.restartButton:hover{
  background-color: white;
  color: #00143a;
  border: #ffffff 4px solid;
}

.clear{
  justify-content: center;
  position: fixed;
  top: 40px;
  left: 20px;
  z-index: 8;
}

/* Inside buttons */

.buttonBar {
  display: flex;
  justify-content: flex-start;
  margin-top: 3px;
}

#onfire {
  display: none;
}

.fireBar{
  display: flex;
  justify-content: flex-start;
}

.fire {
  background-color: #960e0a;
  color: white;
  margin: 10px;
  margin-top: 25px;
  border-radius: 30px;
  text-align: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  width: 96%;
  height: 40px;
  animation-name: contentMoveDown;
  animation-duration: 2s;
}

.fire:hover {
  background-color: white;
  color: #960e0a;
  box-shadow: 5px 5px 2px 1px  #960e0a;
}

.button1 {
  display: none;
  background-color: rgb(173, 145, 92);
  color: white;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  width: 100px;
  height: 40px;
}

.button1:hover {
  display: none;
  background-color: white;
  color: rgb(173, 145, 92);
}

/* Movement slider */

.movement {
  width: 1290px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0px;
  animation-name: contentMoveDown;
  animation-duration: 2s;
}

.movement .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #960e0a;
  cursor: pointer;
}

.movement .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #960e0a;
  cursor: pointer;
}

/* Slider  */

.sliders { 
    display: flex;
    justify-content: space-between;
}

.slidecontainer {
  display: none;
  width: 400px;
  margin-top: 10px;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0px;
  animation-name: contentMoveDown;
  animation-duration: 2s;
}
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 6px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #663d16;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
  display: none;
    width: 25px;
    height: 25px;
    background: #663d16;
    cursor: pointer;
  }

  .slidecontainer p {
    display: none;
      color: #663d16;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      width: 150px;
      margin-left: 20px;
  }

  /* Speed Slider */

  .speedSlidecontainer {
    width: 870px;
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
}

.speedSlidecontainer .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 6px;
  }
  
  .speedSlidecontainer  .slider:hover {
    opacity: 1;
  }
  
  .speedSlidecontainer  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
  }
  
  .speedSlidecontainer .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
  }

  .speedSlidecontainer p {
      color: #000000;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      width: 150px;
      margin-left: 20px;
  }

/* Animation (keyframes) */

@keyframes contentMoveTop {
  0% { transform: translateY(-1500px)}
  50% {transform: translateY(100px)}
  100%{transform: translateY(0px);}
  }

@keyframes contentMoveDown {
  0% { transform: translateY(-1500px)}
  50% {transform: translateY(100px)}
  100%{transform: translateY(0px);}
  }

@keyframes contentMoveLeft {
  0% { transform: translateX(1500px)}
  50% {transform: translateX(-100px)}
  100%{transform: translateX(0px);}
  }
  
@keyframes contentMoveRight {
  0% { transform: translateX(-1500px)}
  50% {transform: translateX(100px)}
  100%{transform: translateX(0px);}
  }
  
  

  




