/* Basic elem */

body {
    background-color: #5CD6CB;
    position: relative;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

.container {
    background-color: #ffffff;
    color: #5CD6CB;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-top: 10px;
    width: 1500px;
    position: relative;
    height:730px;
    animation-name: contentMoveTop;
    animation-duration: 1s;
}

.canvas {
    border-radius: 20px;
    position: absolute;
    z-index: 4;
}

/* Graphics */

.magnifier {
    z-index: 3;
    position: absolute;
    height:auto;
    width: 1100px;
    animation-name: contentMoveTop;
    animation-duration: 4s;
}

.cheap {
    position: absolute;
    right: 60px;
    height: 600px;
    top: 0;
    width: auto;
    animation-name: contentMoveTop;
    animation-duration: 2s;
}

.super {
    position: absolute;
    right: 240px;
    height: 600px;
    top: 0;
    width: auto;
    animation-name: contentMoveTop;
    animation-duration: 2s;
}

.people {
    position: absolute;
    right: 570px;
    height: 180px;
    top: 300px;
    width: auto;
    z-index: 2;
}

.monster1 {
    position: absolute;
    right: 410px;
    height: 130px;
    top: 280px;
    width: auto;
    z-index: 1;
}

.monster2 {
    position: absolute;
    right: 630px;
    height: 130px;
    top: 150px;
    width: auto;
    z-index: 1;
}

.monster3 {
    position: absolute;
    right: 430px;
    height: 130px;
    top: 420px;
    width: auto;
    z-index: 1;
}

.monster4 {
    position: absolute;
    right: 480px;
    height: 130px;
    top: 160px;
    width: auto;
    z-index: 1;
}

/* Words */

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: white;
    background-color: #01978b;
    border-radius: 10px;
    text-align: center;
    animation-name: contentMoveTop;
    animation-duration: 2s;
}

.speak {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 70px;
    position: absolute;
    padding: 0;
    left: 300px;
    top: 50px;
    text-shadow: 2px 2px #005e56;
    z-index: 2;
    animation-name: contentMoveTop;
    animation-duration: 2s;
}

.speak:hover {
    text-shadow: 2px 2px #ffee00;
    color: rgb(255, 0, 0);
}

/* Button Bar  */

.buttonBar {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    margin-top: 30px;
}

#resetGame {
    background-color: #e21313;
    color: white;
    border-radius: 10px;
    width: 90px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: contentMoveRight;
    animation-duration: 3s; 
}

#resetGame:hover {
    background-color: white;
    color: #e21313;
    box-shadow: 5px 5px 2px 1px  #580000;
}

#noMask {
    background-color: #01978b;
    color: white;
    border-radius: 10px;
    width: 90px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: contentMoveRight;
    animation-duration: 3s; 
}

#noMask:hover {
    background-color: white;
    color: #01978b;
    box-shadow: 5px 5px 2px 1px  #004943;
}

#normalMask {
    background-color: #01978b;
    color: white;
    border-radius: 10px;
    width: 90px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: contentMoveRight;
    animation-duration: 3s; 
}

#normalMask:hover {
    background-color: white;
    color: #01978b;
    box-shadow: 5px 5px 2px 1px  #004943;
}

#n95 {
    background-color: #01978b;
    color: white;
    border-radius: 10px;
    width: 90px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: contentMoveRight;
    animation-duration: 3s; 
}

#n95:hover {
    background-color: white;
    color: #01978b;
    box-shadow: 5px 5px 2px 1px  #004943;
}

/* Home button */

.popUp{
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 8;
    animation-name: contentMoveLeft;
    animation-duration: 2s;
}

.previousPage:hover{
    background-color: white;
    color: #01978b;
    border: #01978b 4px solid;
}

.previousPage {
    background-color: #01978b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px; 
    font-weight: bolder;
    border-radius: 40px;
    width: 120px;   
    height: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

  /* Animation (keyframes) */

@keyframes contentMoveLeft {
    0% { transform: translateX(1500px)}
    50% {transform: translateX(-100px)}
    100%{transform: translateX(0px);}
}

@keyframes contentMoveRight {
0% { transform: translateX(-1500px)}
50% {transform: translateX(100px)}
100%{transform: translateX(0px);}
}

@keyframes contentMoveTop {
    0% { transform: translateY(-1500px)}
    50% {transform: translateY(100px)}
    100%{transform: translateY(0px);}
    }

